<p-panel
  class="h-full bg-white dark:bg-surface-900 border-r border-surface-200 dark:border-surface-800"
  [pt]="{ header: 'flex items-center justify-center p-4', content: 'px-0' }"
>
  <ng-template pTemplate="header">
    <div class="flex items-center justify-center gap-2">
      <span class="font-bold text-lg text-surface-800 dark:text-white">Fleet Control</span>
    </div>
  </ng-template>
  <p-menu styleClass="!border-0 !shadow-none min-w-0" [model]="menuItems()">
    <ng-template #item let-item>
      <a
        [routerLink]="item.routerLink"
        class="flex min-w-0 items-center gap-0 md:gap-4 p-3 rounded-lg text-surface-600 dark:text-slate-300 hover:bg-slate-800 hover:text-white no-underline transition-all duration-200 justify-center md:justify-start"
      >
        <span [class]="item.icon" class="text-xl shrink-0"></span>
        <span class="hidden md:inline text-sm font-medium tracking-wide truncate">
          {{ item.label }}
        </span>
      </a>
    </ng-template>
  </p-menu>
</p-panel>
